* {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 233);
    box-sizing: border-box;
    color: #a5a5a5;
    position: relative;
    left: 0;
    right: 0;

}

body {
    color: #a5a5a5;
    font-weight: bolder;
}

nav {
    display: flex;
    color: #a5a5a5;

}

nav .logo img {
    height: 40px;
    width: 70px;
    color: #a5a5a5;

}

nav .application img {
    position: relative;
    justify-content: right;
    align-items: center;
    text-align: center;
    height: 24px;
    left: 61pc;
    top: 7px;
    display: inline-block;
    gap: 45px;
    color: #a5a5a5;

}

.nav {
    justify-content: right;
    align-items: center;
    text-align: center;
    color: #a5a5a5;

}

ul {
    display: flex;
    gap: 56px;
    position: relative;
    right: 100px;
    color: #a5a5a5;


}

.nav li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #a5a5a5;

}

.nav a {
    text-decoration: none;
    color: black;

}

.nav .active {
    color: orange;
    color: #a5a5a5;

}

hr {
    border: 1px solid ghostwhite;
    color: #fff7f7;

}

.home-page {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 85px;
    color: #a5a5a5;
    background: linear-gradient(1216deg,white,#ebeaea,gray);
}

h1 {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    bottom: 45px;
    color: #a5a5a5;

}

.home-page h3 {
    display: block;
    font-weight: bold;
    color: #a5a5a5;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-page button {
    height: 45px;
    width: 256px;
    background: white;
    box-shadow: 9px 9px 9px orange;
    border: 1px solid orange;
    color: #a5a5a5;

}

.home-page .image {
    height: 25pc;
    width: 45pc;
    color: #a5a5a5;

}

.ALways {
    font-weight: bolder;
    font-size: 20px;
    color: #a5a5a5;

}

.home-service {
    position: absolute;
    top: 127%;
    background-color: rgb(241, 189, 91);
    width: 100%;
    height: 345px;
    color: #a5a5a5;

}

.call {
    position: relative;
    top: 25px;
    left: 11.9pc;
    width: 22pc;
    height: 290px;
    justify-content: center;
    background: rgb(241, 189, 91);
    align-items: center;
    text-align: center;
    color: #a5a5a5;

    box-shadow: 5px 5px 5px 5px rgb(207, 167, 92);
}

.call h2 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #a5a5a5;

    background: rgb(241, 189, 91);
}

.call p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(241, 189, 91);
    color: #a5a5a5;

}

.suitcase div {
    display: flex;
}

.suitcase {
    position: relative;
    bottom: 16.5pc;
    left: 34pc;
    width: 22pc;
    height: 290px;
    justify-content: center;
    align-items: center;
    background: rgb(241, 189, 91);
    text-align: center;
    background: rgb(241, 189, 91);
    box-shadow: 5px 5px 5px 5px rgb(207, 167, 92);
    color: #a5a5a5;

}

.suitcase h2 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(241, 189, 91);
    color: #a5a5a5;

}

.suitcase p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(241, 189, 91);
    color: #a5a5a5;

}

.suitcase img {
    height: 17px;
}

.suitcase div {
    display: flex;
}

.ProFile {
    position: relative;
    bottom: 34.5pc;
    left: 56.1pc;
    width: 22pc;
    height: 290px;
    justify-content: center;
    align-items: center;
    background: rgb(241, 189, 91);
    text-align: center;
    background: rgb(241, 189, 91);
    box-shadow: 5px 5px 5px 5px rgb(207, 167, 92);
    color: #a5a5a5;

}

.ProFile h2 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(241, 189, 91);
}

.ProFile p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(241, 189, 91);
}

.ProFile img {
    height: 17px;
}

.big {
    position: absolute;
    top: 75pc;
    left: 40%;
    transform: translate(-50%, -50%);
}

.Do {
    position: relative;
    top: 45pc;
    left: 15%;
}

.Do p {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.Do img {
    height: 65pc;
    width: 965px;
}

.ALways {
    height: 4pc;
    width: 15pc;
    border: 1px orange solid;
    box-shadow: 9px 9px 9px orange;
}

.repair {
    position: relative;
    top: 100pc;
    left: 70%;
    transform: translate(-50%, -50%);
}

.repair img {
    width: 977px;
    height: 999px;
}

.repair p {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.service{
   position: absolute;   
   left: 0;
   top: 136%;
}
.service div{
    width: 15pc;
    height: 15pc;

}
.service div img{
    width: 15pc;
    height: 15pc;
}
.service  .div{
    position: absolute;
    left: 32pc;
    top: 2px;
}
.service  .dir{
    position: absolute;
    left: 67pc;
    top: 2px;
}
.service  .di{
    position: absolute;
    left: 32pc;
    top: 4pc;
}
.service  .dr{
    position: absolute;
    left: 67pc;
    top: 17pc;
}
.service  .dv{
    position: absolute;
    left: 0;
    top: 17pc;
}
.service  .dd{
    position: absolute;
    left: 32pc;
    top: 37pc;
}
.service  .ddr{
    position: absolute;
    left: 0pc;
    top: 37pc;
}
.service  .ddv{
    position: absolute;
    left: 67pc;
    top: 37pc;
}
.Innovative{
    position: relative;
    top: 246pc;
    text-align: center;
}
.Innovative .Main   {
    position: absolute;
    left: 25pc;
}
.Innovative h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.services{
   position: absolute;   
   left: 0;
   top: 60pc;
}
.services div{
    width: 15pc;
    height: 15pc;

} 
.services div img{
    width: 15pc;
    height: 15pc;
}
.services  .div{
    position: absolute;
    left: 32pc;
    top: 2px;
}
.services  .dir{
    position: absolute;
    left: 67pc;
    top: 2px;
}
.services  .di{
    position: absolute;
    left: 32pc;
    top: 4pc;
}
.services  .dr{
    position: absolute;
    left: 67pc;
    top: 17pc;
}
.services  .dv{
    position: absolute;
    left: 0;
    top: 17pc;
}
.services  .dd{
    position: absolute;
    left: 32pc;
    top: 37pc;
}
.services  .ddr{
    position: absolute;
    left: 0pc;
    top: 37pc;
}
.services  .ddv{
    position: absolute;
    left: 67pc;
    top: 37pc;
}
.services .ALways {
    height: 3pc;
    width: 13pc;
    border: 1px orange solid;
}
/* .Innovative .service{
   position: absolute;   
   left: 0;
   top: 136%;
}
.service div{
    width: 15pc;
    height: 15pc;
}
.Innovative .services div img{
    width: 15pc;
    height: 15pc;
}
.Innovative .services  .div{
    position: absolute;
    left: 32pc;
    top: 2px;
} */
.contact{
    width: 100%;
    height: 45pc;
    background: url(assets/WhatsApp\ Image\ 2025-05-26\ at\ 20.28.44_c61c6905.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
        color: white;

    top: 145pc;
}
.contact h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: transparent;
    position: relative;
    left: 0;
        color: white;

}
.contact p{
    font-size: larger;   
    width: 45pc;
    background: transparent;
    position: absolute;
    left: 0;
        color: white;

}
.contact hr{
    width: 45px;
    height: 4px;
}
.enter{
    position: absolute;
    top: 4pc;
    background: transparent;
    right: 47pc;
    color: white;
    justify-content: left;
    align-items: flex-start;
}
.icons{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}